{% set activeContents = section.contents|activeContents(app.request.locale) %}
<section class="section section-box-icon">
  {{ include('@frontend/theme/particles/heading.html.twig') }}
  <div class="container box-icon-container">
    <div class="row box-icon-row">
      {% for key,content in activeContents %}
      <{% if content.link[app.request.locale]['url'] %}a href="{{ content.link[app.request.locale]['url'] }}" target="{{ content.link[app.request.locale]['target'] }}" {% else %}div{% endif%} class="col-md-4 box-icon-col wow fadeInDown">
        <div class="box-icon">
          {% if content.media['icon'] %}
          <div class="box-icon-icon">
            <i class="{{ content.media['icon'] }}"></i>
          </div>
          {% endif %}
          {% if content.title[app.request.locale] %}
          <div class="box-icon-title">
            <span class="heading">PROGRESSION</span>
          </div>
          {% endif %}
          {% if content.text[app.request.locale] %}
          <div class="box-icon-text">
            <p>{{ content.text[app.request.locale] }}</p>
          </div>
          {% endif %}
        </div>
      </{% if content.link[app.request.locale]['url'] %}a{% else %}div{% endif%}>
      {% endfor %}
    </div>
  </div>
</section>
