{% extends "@backend/theme/layout-full.html.twig" %}
{% block body %}
  <div class="user-page" style="background-image: url('{{ asset('build/backend/images/authentication.jpg') }}')">
    <div class="container">
      <div class="row user-page-row">
        <div class="col-4 card">
          <div class="card-body">
            <h3 class="mb-3">Change Your Password</h3>
            {{ form_start(changePasswordForm) }}
            {{ form_widget(changePasswordForm) }}
            <button class="btn">  Change Password  </button>
            {{ form_end(changePasswordForm) }}
            <a href="{{ path('backend_main_index') }}" class="h4 mt-3">Go Back to EazyControl</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
