<div class="btn btn-circle to-top"><i class="fas fa-chevron-up"></i></div>

<script src="{{ asset('build/vendor/jquery-3.6.0/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('build/vendor/axios/axios.min.js') }}"></script>
<script src="{{ asset('build/vendor/popperjs/popper.min.js') }}"></script>
<script src="{{ asset('build/vendor/bootstrap-5.0.2/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('build/vendor/magnific/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('build/vendor/wow/wow.min.js') }}"></script>
<script src="{{ asset('build/vendor/swiper/swiper.min.js') }}"></script>
<script src="{{ asset('build/vendor/headroom/headroom.min.js') }}"></script>
<script src="{{ asset('build/vendor/cookie-consent/cookieconsent.min.js') }}"></script>
<script src="{{ asset('build/frontend/js/main.js') }}"></script>
<script src="{{ asset('build/frontend/js/frontend-form.js') }}"></script>
<script>
    window.cookieconsent.initialise({
        content: {
            "link": "",
            "href": ""
        },
        position: "bottom-right",
        revokable: true,
        law: {
            regionalLaw: true,
        },
        location: true,
    });
</script>

