<head>
  <meta charset="utf-8">
  <title>EasyControl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="EasyControl" name="description">
  <meta content="EasyControl" name="author">
  <link rel="shortcut icon" href="/build/backend/images/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="{{ asset('build/vendor/jquery-ui-1.12.1/jquery-ui.min.css') }}" rel="stylesheet">
  <link href="{{ asset('build/vendor/bootstrap-5.0.2/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('build/vendor/fontawesome-5.15.4/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ asset('build/vendor/magnific/magnific-popup.min.css') }}" rel="stylesheet">
  <link href="{{ asset('build/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ asset('build/vendor/swiper/swiper.min.css') }}" rel="stylesheet">
  {{ encore_entry_link_tags('css-frontend') }}
</head>