{% set fixed = {"fixed": {"width":950, "height":640}} %}
<div class="section section-about">
  <div class="container-fluid about-container">
    <div class="row about-row">
      <div class="col-lg-6 col-12 about-col about-info">
        <div class="container info-container">
          <div class="row info-row">
            <div class="col-10 info-col">
              <div class="section-heading info-heading">
                <div class="heading-subtitle info-subtitle">
                  <span>{{ section.subtitle[app.request.locale] }}</span>
                </div>
                <div class="heading-title info-title">
                  <span class="heading">{{ section.title[app.request.locale] }}</span>
                </div>
              </div>
              <div class="info-text">
                <p>{{ section.text[app.request.locale] }}</p>
              </div>
              <div class="info-button">
                {{ include('@frontend/theme/particles/link.html.twig', {link: section.link}) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 about-col about-media">
        {% set media = section.media|mediaLink %}
        <a href="{{ media['url'] }}" class="-magnific {{ media['class'] }} media">
          {{ include('@frontend/theme/particles/media-holder.html.twig', {meida: section.media, class:'hover-effect-1', icon: 'fas fa-play'}) }}
        </a>
      </div>
    </div>
  </div>
</div>
