<section class="section section-testimonial" style="background-image: url('{{ asset(section.media['image']) | imagine_filter('fixed_slider') }}')">
  <div class="testimonial-overlay" style="opacity: .75"></div>
  <div class="container testimonial-container">
    <div class="row testimonial-row">
      <div class="col-xl-6 col-10 testimonial-col">
        <div class="section-heading testimonial-heading">
          <div class="heading-subtitle testimonial-subtitle">
            <span>{{ section.subtitle[app.request.locale] }}</span>
          </div>
          <div class="heading-title testimonial-title">
            <span class="heading">{{ section.title[app.request.locale] }}</span>
          </div>
        </div>
        <div class="testimonial-text">
          <p>{{ section.text[app.request.locale] }}</p>
        </div>
        <div class="testimonial-name-position">
          <span class="heading">{{ section.summary[app.request.locale] }}</span>
        </div>
        <div class="testimonial-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </div>
  </div>
</section>
