<section class="section-logos -swiper">
  {{ include('@frontend/theme/particles/heading.html.twig') }}

  <div class="container logos-container">
    <div class="swiper logos-swiper">
      <div class="swiper-container logos-swiper-container">
        <div class="swiper-wrapper logos-swiper-wrapper">
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <a href="#" class="logo">
              <img src="{{ asset('/upload/images/logos/9.png') | imagine_filter('relative_resize_logos') }}">
            </a>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <div class="logo">
              <img src="{{ asset('/upload/images/logos/10.gif') | imagine_filter('relative_resize_logos') }}">
            </div>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <a href="#" class="logo">
              <img src="{{ asset('/upload/images/logos/11.jpeg') | imagine_filter('relative_resize_logos') }}">
            </a>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <a href="#" class="logo">
              <img src="{{ asset('/upload/images/logos/7.jpeg') | imagine_filter('relative_resize_logos') }}">
            </a>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <div class="logo">
              <img src="{{ asset('/upload/images/logos/6.jpeg') | imagine_filter('relative_resize_logos') }}">
            </div>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <a href="#" class="logo">
              <img src="{{ asset('/upload/images/logos/5.jpeg') | imagine_filter('relative_resize_logos') }}">
            </a>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <div class="logo">
              <img src="{{ asset('/upload/images/logos/4.jpeg') | imagine_filter('relative_resize_logos') }}">
            </div>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <a href="#" class="logo">
              <img src="{{ asset('/upload/images/logos/3.png') | imagine_filter('relative_resize_logos') }}">
            </a>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <a href="#" class="logo">
              <img src="{{ asset('/upload/images/logos/1.png') | imagine_filter('relative_resize_logos') }}">
            </a>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <div class="logo">
              <img src="{{ asset('/upload/images/logos/11.jpeg') | imagine_filter('relative_resize_logos') }}">
            </div>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <div class="logo">
              <img src="{{ asset('/upload/images/logos/8.png') | imagine_filter('relative_resize_logos') }}">
            </div>
          </div>
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <div class="logo">
              <img src="{{ asset('/upload/images/logos/12.jpeg') | imagine_filter('relative_resize_logos') }}">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button swiper-button-next btn btn-circle">
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="swiper-button swiper-button-prev btn btn-circle">
        <i class="fas fa-chevron-left"></i>
      </div>
    </div>
  </div>

</section>
