<section class="section section-box-media">
  {{ include('@frontend/theme/particles/heading.html.twig') }}
  <div class="container box-media-container">
    <div class="row box-media-row">

      <a href="#" class="col-md-4 box-media-col">
        <div class="box-media">
          <div class="box-media-media">
            <div class="media-holder hover-effect-2">
              <img src="{{ asset('/build/frontend/images/1.jpg') | imagine_filter('thumbnail_media_box') }}" />
            </div>
          </div>
          <div class="box-media-info">
            <div class="info-title">
              <span class="heading">CHALLENGE YOUR LIMITS</span>
            </div>
            <div class="info-text">
              <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
            </div>
          </div>
        </div>
      </a>

      <div class="col-md-4 box-media-col">
        <div class="box-media">
          <div class="box-media-media">
            <div class="media-holder hover-effect-2">
              <img src="{{ asset('/build/frontend/images/2.jpg') | imagine_filter('thumbnail_media_box') }}" />
            </div>
          </div>
          <div class="box-media-info">
            <div class="info-title">
              <span class="heading">CHALLENGE YOUR LIMITS</span>
            </div>
            <div class="info-text">
              <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="col-md-4 box-media-col">
        <div class="box-media">
          <div class="box-media-media">
            <div class="media-holder hover-effect-2">
              <img src="{{ asset('/build/frontend/images/3.jpg') | imagine_filter('thumbnail_media_box') }}" />
            </div>
          </div>
          <div class="box-media-info">
            <div class="info-title">
              <span class="heading">CHALLENGE YOUR LIMITS</span>
            </div>
            <div class="info-text">
              <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
            </div>
          </div>
        </div>
      </a>

      <div class="col-md-4 box-media-col">
        <div class="box-media">
          <div class="box-media-media">
            <div class="media-holder hover-effect-2">
              <img src="{{ asset('/build/frontend/images/4.jpg') | imagine_filter('thumbnail_media_box') }}" />
            </div>
          </div>
          <div class="box-media-info">
            <div class="info-title">
              <span class="heading">CHALLENGE YOUR LIMITS</span>
            </div>
            <div class="info-text">
              <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="col-md-4 box-media-col">
        <div class="box-media">
          <div class="box-media-media">
            <div class="media-holder hover-effect-2">
              <img src="{{ asset('/build/frontend/images/1.jpg') | imagine_filter('thumbnail_media_box') }}" />
            </div>
          </div>
          <div class="box-media-info">
            <div class="info-title">
              <span class="heading">CHALLENGE YOUR LIMITS</span>
            </div>
            <div class="info-text">
              <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
            </div>
          </div>
        </div>
      </a>

      <div class="col-md-4 box-media-col">
        <div class="box-media">
          <div class="box-media-media">
            <div class="media-holder hover-effect-2">
              <img src="{{ asset('/build/frontend/images/2.jpg') | imagine_filter('thumbnail_media_box') }}" />
            </div>
          </div>
          <div class="box-media-info">
            <div class="info-title">
              <span class="heading">CHALLENGE YOUR LIMITS</span>
            </div>
            <div class="info-text">
              <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
