<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>EasyControl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="EasyControl" name="description">
  <meta content="EasyControl" name="author">
  <link rel="shortcut icon" href="/build/backend/images/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <script src="{{ asset('build/vendor/ckfinder/ckfinder.js') }}"></script>
  <link href="{{ asset('build/vendor/jquery-ui-1.12.1/jquery-ui.min.css') }}" rel="stylesheet">
  <link href="{{ asset('build/vendor/bootstrap-5.0.2/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('build/vendor/fontawesome-5.15.4/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ asset('build/vendor/magnific/magnific-popup.min.css') }}" rel="stylesheet">
  <link href="{{ asset('build/vendor/select2/select2.min.css') }}" rel="stylesheet">
  <link href="{{ asset('build/vendor/toast/jquery.toast.css') }}" rel="stylesheet"/>
  {{ encore_entry_link_tags('css-backend') }}
<body>

<div class="page">
  <div class="page-sidebar">
    <div class="sidebar-top">

    </div>
    <div class="sidebar-middle">
      {{ include('@backend/theme/tree.html.twig') }}
    </div>
    <div class="sidebar-bottom">

    </div>
  </div>
  <div class="page-bar">
    {{ include('@backend/theme/page-bar.html.twig') }}
  </div>
  <div class="page-content">
    {% block body %}{% endblock %}
  </div>
</div>



<script src="{{ asset('build/vendor/jquery-3.6.0/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('build/vendor/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
<script src="{{ asset('build/vendor/popperjs/popper.min.js') }}"></script>
<script src="{{ asset('build/vendor/bootstrap-5.0.2/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('build/vendor/axios/axios.min.js') }}"></script>
<script src="{{ asset('build/vendor/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ asset('build/vendor/magnific/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('build/vendor/select2/select2.min.js') }}"></script>
<script src="{{ asset('build/vendor/toast/jquery.toast.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('build/backend/js/main.js') }}"></script>
</body>
</html>