<div class="link-list">
  <a href="{{ path('backend_main_index') }}" class="link">
    <i class="fas fa-tachometer-alt"></i> <span>Dashboard</span>
  </a>
  <a href="{{ path('backend_eazycontrol_index') }}" class="link">
    <i class="fas fa-network-wired"></i> <span>Settings</span>
  </a>
  <a href="{{ path('backend_category_index') }}" class="link">
    <i class="fas fa-network-wired"></i> <span>Categories</span>
  </a>
  <a href="{{ path('backend_frontend-form_index') }}" class="link">
    <i class="fas fa-envelope-open-text"></i> <span>Forms</span>
  </a>
</div>
<div class="link-list">
  <a href="#" class="link">
    <i class="far fa-bell"></i>
  </a>
  <a href="{{ path('backend_security_change-password') }}" class="link">
    <i class="fas fa-user-edit"></i>
  </a>
  <a href="{{ path('backend_security_logout') }}" class="link">
    <i class="fas fa-sign-out-alt"></i>
  </a>
</div>
